/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* base rule */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
}

html{
    font-size: 62.5%;
    /* 100% = 16px */
    /* 62.5% = 10px */
    /* 1rem = 10px */
}

h1,h2{
    font-weight: bold;
    color: var(--dark-01)
}

h3{
    font-weight: 600;
}

h4{
    font-weight: 500;
    font-family: var(--font-secondary);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
li, a{
    color: var(--dark-01);
    font-size: 1.6rem;
    font-weight: 600;
}

p{
    font-size: 1.7rem;
    color: var(--dark-03);
}

/* theme */

:root{
    --white: #ffffff;
    --dark-01: rgba(0, 0, 0, 0.87);
    --dark-02: #18191F;
    --dark-03: #6C6C6C;
    --dark-04: #D9DBE1;
    --bg-secondary: #0A0826;
    --btn-primary: #E02C6D;
    --margin-sec: 13rem;
    --font-primary: "Poppins", sans-serif;
    --font-secondary: font-family: "Inter", sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* layout */

.container{
    margin: 0 16.5rem;
}

/* module / reuseable */

.btn{
    background-color: var(--btn-primary);
    border: none;
    color: var(--white);
    font-weight: bold;
    padding: 1.4rem 2.4rem;
    cursor: pointer;
}

/* for mobile */
@media screen and (max-width: 640px) {
    .btn{
        font-weight: 500;
    }
}

.btn i{
    margin-left: 1rem;
}

/* state */

/***** header Section *****/ 

/***** navbar Section *****/ 

.section-header{
    margin-block: 3rem 7rem;
}

.section-header--nav{
    margin-inline: 13rem;
    display: grid;
    grid-template-columns: 4fr 4fr 0.2fr;
    align-items: center;
}

.nav-logo--brand{
    font-size: 2.4rem;
}

.section-nav--menu .fa-bars{
    display: none;
}

.nav-menu--items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 1rem;
}

.section-nav--cart{
    font-size: 1.7rem;
    color: var(--dark-01);
}

/***** navbar media query Section *****/ 

/* for tablet */
@media screen and (max-width: 992px) {

    .section-header--nav{
        margin-inline: 5rem;
        grid-template-columns: 1fr 3fr 1fr;
        place-items: center;
    }

    .section-nav--menu{
        order: -1;
    }
    
    .section-nav--cart{
        font-weight: 300;
        font-size: 2.4rem;
    }

    .section-nav--menu .fa-bars{
        display: initial;
        font-size: 2.4rem;
        font-weight: bold;
    }

    .section-nav--menu{
        position: relative;
    }

    .nav-menu--items{
        display: none;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    .section-nav--menu:hover .fa-bars ~ .nav-menu--items{
        position: absolute;
        display: grid;
        top: 4rem;
        left: -0.4rem;
    }
}

/* for mobile */
@media screen and (max-width: 640px) {
    
    .section-header--nav{
        margin-inline: 1.6rem;
    }

    .section-nav--logo h2,
    .section-nav--menu .fa-bars,
    .section-nav--cart{
        font-size: 1.8rem;
    }

    .nav-menu--items{
        gap: 0.3rem;
    }

    .nav-menu--item a{
        font-size: 1.3rem;
    }
}

/***** End navbar media query Section *****/

/***** End navbar Section *****/

/***** banner Section *****/ 

.section-header--banner{
    margin-block: 6.9rem 10rem;
    margin-inline: 13rem 0;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
    gap: 10rem;
}

.banner-left--heading{
    font-size: 5.2rem;
}

.banner-left--details{
    margin-block: 1.6rem 3.5rem;
    font-weight: 600;
}

.banner-left--btn{
    border-radius: 4.1rem;
    -webkit-border-radius: 4.1rem;
    -moz-border-radius: 4.1rem;
    -ms-border-radius: 4.1rem;
    -o-border-radius: 4.1rem;
}

.section-banner--right{
    margin-block: 1rem;
    /* background */
    background-image: url('../images/Circle_design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.banner-right--image{
    width: 65%;
    justify-self: center;
}
.banner-right--image img{
    width: 100%;
}

/***** banner media query Section *****/ 

/* for tablet */
@media screen and (max-width: 992px) {
    .section-header--banner{
        margin-inline: 10rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .section-banner--left{
        text-align: center;
        order: 2;
    }
}

/* for mobile */
@media screen and (max-width: 640px) {
    .section-header--banner{
        margin-inline: 1.6rem;
    }

    .banner-left--heading{
        font-size: 2.8rem;
    }

    .banner-left--details{
        font-size: 1.4rem;
        font-weight: 500;
    }

    .banner-right--image{
        width: 70%;
    }
}

/***** End banner media query Section *****/

/***** End banner Section *****/

/***** End header Section *****/

/***** main Section *****/ 


/***** sponsors Section *****/ 

.section-main--sponsors{
    display: flex;
    justify-content: center;
    gap: 6.1rem;
    margin-bottom: 10rem;
    padding-block: 3rem;

    border-top: 0.1rem solid transparent;
    border-bottom: 0.2rem solid transparent;
    border-image: linear-gradient(
                    to right,
                    rgba(192, 204, 218, 0.1),
                    rgba(192, 204, 218, 0.6),
                    rgba(192, 204, 218, 0.1)
                );
    border-image-slice: 1;
}

.section-sponsors--logos img{
    width: 100%;
}


/***** sponsors media query Section *****/ 

/* for tablet  */
@media screen and (max-width: 992px) {
    .section-main--sponsors.container{
        margin-inline: 8rem;
    }

    .section-main--sponsors{
        gap: 4rem;
    }
}

@media screen and (max-width: 640px) {
    .section-main--sponsors.container{
        margin-inline: 4.2rem;
    }

    .section-main--sponsors{
        border: none;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .section-sponsors--logos{
        flex: 0 0 calc(25% - 2.25rem);
    }
    
}

/***** End sponsors media query Section *****/

/***** End sponsors Section *****/

/***** collection Section *****/ 

.section-main--collection{
    position: relative;
}

.section-collection--heading{
    font-size: 2.8rem;
    text-align: center;
    margin-block: 3rem;
}

.section-collection--content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center;
}

.collection-content--item{
    padding: 1.7rem 1.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

.content-item--image img{
    width: 100%;
}

.content-item--heading{
    color: var(--dark-02);
    font-size: 2.4rem;
    margin-block: 1.6rem 0.8rem;
}

.content-item--subheading{
    color: var(--dark-02);
    font-size: 2rem;
    margin-bottom: 0.8rem;
    letter-spacing: 0.2rem;
}

.content-item--rating{
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.content-item--rating i{
    color: #FB8200;
}

.content-item--rating span{
    font-weight: bold;
    font-family: var(--font-secondary);
    margin-left: 0.8rem;
}

.content-item--details{
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-weight: bold;
}

.section-collection--btn{
    margin-top: 5rem;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: transparent;
    color: var(--btn-primary);
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
}

.section-collection--btn .fa-arrow-right{
    font-size: 2rem;
    font-weight: bolder;
}

/***** collection media query Section *****/ 

/* for tablet */
@media screen and (max-width: 992px) {

    .section-main--collection.container{
        margin: 0 2rem;
    }

    .section-collection--content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .section-collection--btn{
        right: 5rem;
    }
}

/* for mobile */
@media screen and (max-width: 640px) {

    .section-main--collection.container{
        margin: 0 2rem;
    }

    .section-collection--content{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

/***** End collection media query Section *****/

/***** End collection Section *****/

/***** features Section *****/ 

.section-main--features{
    margin-block: 20rem 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9.6rem;
    align-items: center;
}

.section-features--image img{
    width: 100%;
}

.section-features--heading{
    font-size: 2.8rem;
}

.section-features--details{
    margin-block: 1.6rem 3.2rem;
}

/***** features media query Section *****/ 

/* for tablet */
@media screen and (max-width: 992px) {

    .section-main--features.container{
        margin-inline: 8rem;
    }

    .section-main--features{
        margin-block: 15rem 10rem;
        grid-template-columns: 1fr;
        gap: 8rem;
    }

    .section-features--content{
        order: -1;
        text-align: center;
    }
}

/* for mobile */
@media screen and (max-width: 640px) {
    .section-main--features.container{
        margin-inline: 3rem;
    }
}

/***** End features media query Section *****/


/***** End features Section *****/


/***** End main Section *****/

/***** footer Section *****/ 

.section-footer{
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: center;
    padding-block: 5rem;
}

.section-footer--content{
    text-align: center;
}

.section-footer--content > :not([hidden]) ~ :not([hidden]) {
    margin-top: 0.5rem;
}

.section-footer--heading{
    color: var(--white);
    font-size: 2.4rem;
}

.section-footer--copyright{
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--dark-04);
}

.section-footer--social-media{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-social-media--item{
    margin-top: 1.7rem;
    width: 3.2rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22213C;
    color: var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/***** End footer Section *****/
